.DS_Store
.env

# Dependencies
/node_modules/
migration-scripts/node_modules/

# Secrets & Keys (Adicione esta linha abaixo)
migration-scripts/serviceAccountKey.json

# React Router & Build
/.react-router/
/build/

# Cloudflare
.wrangler/